// Imports
@import "bourbon/bourbon";
@import "base/base";

// Theme variables
$color--background: #ffefc8;
$color--foreground: #150301;
$color--accent: #5277c3;

// Theme typography
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color--foreground;
  background: $color--background;
}

a {
  color: $color--accent;
}
