<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.collectionpage %}
			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
		<link rel="shortcut icon" href="{{ site.logo }}">
	</head>
	<body>

		{{ content }}

		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Neuton" rel="stylesheet">
	</body>
</html>
