<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<!-- General meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - {{ site.title }}</title>
		
		{% if site.logo %}
			{% include favicons.html %}
		{% endif %}

		<link href="/css/styles.css" media="all" rel="stylesheet" type="text/css">
	</head>
	<body>

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Neuton" rel="stylesheet">
		<script src="/js/scripts.js" type="text/javascript"></script>
	</body>
</html>
